body{
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url('./images/gambar-hijau.jpg.');
    background-size: cover;
    background-position: center;
}

.container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: rgba(0,0,0,0.6);
}

.logo-section{
    margin-bottm: 20px;
}
.logo-section img{
    width: 150px;
    height: auto;
}
.form-section{
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    text-align: center;
}

.form-section h1{
    margin-bottom: 20px;
}
.form-section label{
    display: block;
    margin: 10px 0 5px;
}
.form-section input{
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #e5e7eb;
    border-radius: 5px;
    box-sizing: border-box;
}
.form-section button{
    background-color: #596d48;
    color: white;
    padding: 10px 20px;
    border: none;
    borrder-radius: 5px;
    cursor: pointer;
}
.form-section button:hover{
    background-color: #4d5e4d;
}
input:focus{
    border: 2px solid blue;
    box-shadow: 0 0 5px rgba(0,0,255,0.5);
}
input:invalid{
    border: 2px solid red;
}